[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Zeeshan Haque (zphoenixrises)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Zeeshan Haque (zphoenixrises)
	label-Verified = -1..+1 group user/Zeeshan Haque (zphoenixrises)
	push = group user/Zeeshan Haque (zphoenixrises)
	read = group user/Zeeshan Haque (zphoenixrises)
	rebase = group user/Zeeshan Haque (zphoenixrises)
	removeReviewer = group user/Zeeshan Haque (zphoenixrises)
	submit = group user/Zeeshan Haque (zphoenixrises)
[access "refs/heads/*"]
	create = group user/Zeeshan Haque (zphoenixrises)
	push = +force group user/Zeeshan Haque (zphoenixrises)
	pushMerge = group user/Zeeshan Haque (zphoenixrises)
	read = group user/Zeeshan Haque (zphoenixrises)
[access "refs/tags/*"]
	push = group user/Zeeshan Haque (zphoenixrises)
	push = +force group user/Zeeshan Haque (zphoenixrises)
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	ref = master
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
